@font-face {
	font-family: "BonvenoCF-Light";
	src: url("../font/BonvenoCF-Light.otf");
}
@font-face {
	font-family: "Walkway SemiBold";
	src: url("../font/Walkway_SemiBold.ttf");
}
.badInput {
	color: red;
}
.goodInput {
	color: green;
}
.errMsg {
	border: 1px solid black;
}
.invisible	{
	display: none;
}
li {
	list-style-type: none;
}
#mainPageHeader {
	position: fixed;
}
#logo {
  text-align: center;
	margin: 0;
	padding: 0;
}
#logo img {
	margin: 0 auto;
	padding: 0;
}
#loginPage h1 {
	text-align: center;
	font-size: 200%;
	letter-spacing: 5px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	display: none;

}
#navBar a{
	font-size: 150%;
	padding-top: 50px;
}
#navBar ul {
	background: -webkit-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: -moz-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: -o-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));

	border: none;
	box-shadow: 0 20px 1px 0 rgba(0,0,0,.03);
}
#locationsPageHeader {
	background: -webkit-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: -moz-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: -o-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));

	border: none;
	box-shadow: 0 20px 1px 0 rgba(0,0,0,.03);
}
#menuLeft, #menuRight {
	background: #ffe264;
	/*background: -webkit-linear-gradient(top, #fff987 10%,#ffe264 50%, #fff987 80%);*/
	background: transparent;
	border: none;
	text-shadow: 0px  1px 1px rgba(255,255,255,.5);
}
#courseDest h1{
	box-shadow: 0 20px 1px 0 rgba(0,0,0,.03);
}
#detailsPage > div {
}
#location-listbox, #location-menu, #location-dialog, #location {
}
#disclaimerCheckLabel {
	background: #F7E183;
}
#loadingDiv {
	background: -webkit-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: -moz-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: -o-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	background: radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));

	border: none;
	border-bottom: 2px solid rgba(0,0,0,.2);
	
	position: fixed;
	left: 0;
	right: 0;
	display: none;
	height: 100px;
	text-align: center;
	padding-top: 40px;
	z-index: 9999;
	font-size: 1.5em;
}

#disclaimerCheckLabel.ui-btn.ui-checkbox-on.ui-checkbox-on::after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E")
}

#swipeDiv {
	display: block;
	text-align: center; 
	cursor:move;
	height: 40px; 
	padding-top: 10px; 
	/* Disable text selection*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#linkLocationsPage {
	position:absolute;
	left: 0;
	top: 113px;
	background: rgba(249,213,91,1);
	padding-left: 15px;
	padding-right: 10px;
	-webkit-border-radius: 0 50px 50px 0;
	-moz-border-radius: 0 50px 50px 0;
	-o-border-radius: 0 50px 50px 0;
	border-radius: 0 50px 50px 0;
}
#linkMainPage {
	margin-right: -10px;
	background: rgba(249,213,91,1);
	padding-left: 15px;
	padding-right: 10px;
	border: 1px solid rgba(0,0,0,.1);
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	-o-border-radius: 50px 0 0 50px;
	border-radius: 50px 0 0 50px;
}