@font-face {
	font-family: "BonvenoCF-Light";
	src: url("../font/BonvenoCF-Light.otf");
}
@font-face {
	font-family: "Walkway SemiBold";
	src: url("../font/Walkway_SemiBold.ttf");
}
.badInput {
	color: red;
}
.goodInput {
	color: green;
}
.errMsg {
	border: 1px solid black;
}
.invisible	{
	display: none;
}
li {
	list-style-type: none;
}
#logo {
  text-align: center;
	margin: 0;
	padding: 0;
}
#logo img {
	margin: 0 auto;
	padding: 0;
}
#loginPage h1 {
	text-align: center;
	font-size: 200%;
	letter-spacing: 5px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	display: none;

}
#navBar a{
	font-size: 150%;
	padding-top: 50px;
}
#navBar ul {
	background: -webkit-radial-gradient(50% -50%, circle farthest-side, #fffffe 5%, #ffe264 100%);
	background: -webkit-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(255,226,100,1));
	background: -webkit-radial-gradient(center -10%, 50% 100%, rgba(255,255,255,1), rgba(249,213,91,1));
	border: none;
	box-shadow: 0 20px 1px 0 rgba(0,0,0,.03);
}
#menuLeft, #menuRight {
	background: #ffe264;
	/*background: -webkit-linear-gradient(top, #fff987 10%,#ffe264 50%, #fff987 80%);*/
	background: transparent;
	border: none;
	text-shadow: 0px  1px 1px rgba(255,255,255,.5);
}
#courseDest h1{
	box-shadow: 0 20px 1px 0 rgba(0,0,0,.03);
}
#detailsPage > div {
}
#location-listbox, #location-menu, #location-dialog, #location {
}
#swipeDiv {
	display: block;
}
#disclaimerCheckLabel {
	background: #F7E183;
}
#disclaimerCheckLabel :after{
	background-repeat: no-repeat;
}